.footer {
  /* padding: 15px; */
}

.footer {
  padding: 24px;
  padding: 1.5rem;
  background: #404040;
  color: #999;
  font-size: 0.85em;
  text-align: center;
}

.footer a {
  padding-bottom: 1px;
  border: 0;
  color: #e5e5e5;
}

.footer a:active,
.footer a:focus,
.footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-credits {
  margin: 0;
  padding: 0;
}

.footer-credit {
  display: block;
  margin: 0;
}
