body {
  background-color: #fbfbfb;
}

.home-logo {
  animation: Home-logo-spin infinite 20s linear;
  /* height: 80px; */
}

.home-header {
  /* background-color: #ff5252; */
  background-color: #e74c3c;
  height: 65px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  color: white;
}

.home-intro {
  font-size: large;
  padding: 15px;
}

.home-container {}

.home-signup {
  color: #247bc6 !important;
}