.signin {
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.signin .signin-col {
  display: block;
  margin: 0 auto;
  width: 550px;
}

.signin form {
  width: 100%;
  position: relative;
  /* margin: 35px 60px 5px; */
  text-align: center !important;
}

.signin .form-logo {
  margin-bottom: 1.5rem !important;
  border-style: none;
  width: 85px;
  height: 85px;
}

.signin form input {
  border-radius: 0px;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 30px 10px;
  text-indent: 40px;
  color: #777;
  box-shadow: none;
}

.signin form input:focus {
  box-shadow: none;
  border-color: #ddd;
}

.signin form input:first-of-type {
  border-radius: 5px 5px 0 0;
}

.signin form input:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.signin form .fa {
  position: absolute;
  left: 15px;
}

.signin form .fa.fa-user {
  top: 175px;
  font-size: 30px;
  color: #ddd;
}

.signin form .fa.fa-lock {
  top: 235px;
  font-size: 35px;
  color: #ddd;
}

.signin form button {
  font-weight: 300;
  background-color: #3498db;
  margin-top: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #3498db;
  border-color: #34495e;
}

.signin .signin-title {
  text-align: center;
  margin-bottom: 15px !important;
}

.signin .signup-link {
  margin-top: 30px;
  text-align: center;
}

.signin .signup-link a {
  color: #3498db;
  text-decoration: none;
}

.copyright {
  color: #6c757d !important;
  margin-top: 3rem !important;
  text-align: center;
}

.copyright a {
  color: #3498db;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .signin .signin-col {
    max-width: 330px;
  }
}