.items-container {
  padding: 5px;
  /* background-color: #fff; */
  /* box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2); */
}

.item-content {
  /* background-color: #fff; */
  display: inline-flex;
  padding: 10px;
  width: 100%;
  vertical-align: middle;
}

.item-btns {
  /* float: left; */
  display: grid;
}

.btn-item {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  vertical-align: middle;
  border-radius: 2px;
  font-size: 10px;
  padding: 0 26px;
  margin: 3px;
  line-height: 25px;
}

.btn-item-edit {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  background-color: #fff;
  color: #e74c3c;
  border: 1px solid #e74c3c;
  vertical-align: middle;
  border-radius: 2px;
  font-size: 10px;
  padding: 0 26px;
  margin: 3px;
  line-height: 25px;
  font-weight: bolder;
}

.item-info {
  padding-left: 15px;
  width: 100%;
}

.item-title-input-edit {
  height: 32px;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  margin-top: 12px;
  margin-bottom: 8px;
}

.item-note-input-edit {
  height: 32px;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  margin-top: 7px;
  margin-bottom: 7px;
}

.item-link-input-edit {
  height: 32px;
  display: inline-block;
  border: none;
  outline: none;
  width: 80%;
  font-size: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  margin-top: 7px;
  margin-bottom: 7px;
}

.item-price-input-edit {
  height: 32px;
  display: inline-block;
  border: none;
  outline: none;
  width: 20%;
  font-size: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  border-left: 1px solid rgba(0, 0, 0, 0.26);
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.swal2-popup .swal2-styled.swal2-cancel {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  background-color: #fff !important;
  color: #e74c3c !important;
  border: 1px solid #e74c3c !important;
  vertical-align: middle;
  border-radius: 2px;
  line-height: 25px;
}

.swal2-popup .swal2-styled.swal2-confirm {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2) !important;
  text-transform: uppercase;
  background-color: #e74c3c !important;
  color: #fff;
  border: none;
  vertical-align: middle;
  border-radius: 2px;
  line-height: 25px;
}

.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-image: none !important;
}

.swal2-popup {
  font-size: 1.5rem;
}

.swal2-icon.swal2-warning {
  border-color: #e74c3c;
  color: #e74c3c;
}

.red-bgcolor {
  background-color: #e74c3c;
  height: 26px;
  width: 26px;
  margin: 2px;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  outline: none !important;
}

.blue-bgcolor {
  background-color: #3498fb;
  height: 26px;
  width: 26px;
  margin: 2px;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  outline: none !important;
}

div.item-info a {
  color: #000;
  text-decoration: none;
}

div.item-info a:hover,
div.item-info a:focus {
  color: #000;
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  .item-info h3 {
    font-size: 16px !important;
  }
  .item-title-input-edit {
    font-size: 16px !important;
  }
}