body {
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 1.42;
  color: #333;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #ff5252; */
  background-color: #e74c3c;
  height: 50px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  color: #fff;
}

.App-title {
  margin: 0;
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.App-navbar-menu {
  float: right;
  margin: 0;
}

.App-navbar-ul {
  list-style: none;
  position: relative;
  padding: 10px 15px;
  display: block;
}

.App-intro {
  font-size: large;
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-container {
  height: 100%;
  width: 100%;
}

.loader {
  background-image: url("../assets/img/inca11.svg");
}